.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App .list-of-words {
  list-style: none;
  max-width: 350px;
  margin: 0 auto;
}

.App .list-of-words li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  border: 3px inset gray;
}

.App .list-of-words li div {
  width: 50%;
}

.App .list-of-words li div:first-child {
  border-right: 1px dashed black;
}

.App .list-of-words li div:nth-child(2) {
  background-color: black;
}

.App .list-of-words li div:nth-child(2):hover,
.App .list-of-words li div.active {
  background-color: inherit;
}
