.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App .list-of-words {
  max-width: 350px;
  margin: 5px auto 0;
}

.App .list-of-words p {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.App .list-of-words p span {
  padding: 10px;
}

.App .list-of-words p span:nth-child(2) {
  background-color: black;
}

.App .list-of-words p span:nth-child(2):hover {
  background-color: inherit;
}
